.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 100;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #eef3f8;
  border-radius: 10px;
  color: gray;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}
