.sidebar {
  top: 80px;
  position: sticky;
  flex: 0.2;
  text-align: center;
  height: fit-content;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__backImg {
  width: 100%;
}

.sidebar__avatar {
  margin-top: -15px;
  margin-bottom: 10px;
}

.sidebar__stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
